body {
  background-color: black;
  box-sizing: border-box;
  height: 98vh;
}
.board-container {
  width: 100%;
  height: 100%;

  display: grid;
  justify-content: center;
  align-items: center;
}

.board {
  width: 570px;
  height: 570px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.board > button {
  background-color: black;
  border: solid 1px white;
}

.home {
  width: 100%;
  height: 100%;
  background-color: blueviolet;
  position: absolute;
  z-index: 1;
}
